<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>[[ -s "$HOME/.rvm/scripts/rvm" ]] &amp;&amp; source "$HOME/.rvm/scripts/rvm"

echo "butler {query}"
ruby butler.rb {query}</string>
	<key>disabled</key>
	<false/>
	<key>escapedollar</key>
	<true/>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>b</string>
	<key>logging</key>
	<true/>
	<key>multifileargs</key>
	<false/>
	<key>parameter</key>
	<integer>3</integer>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Scratch pad meets todo list</string>
	<key>title</key>
	<string>Butler</string>
</dict>
</plist>
